html, body {   
    margin:5px;
    box-sizing: border-box;
    background-color:grey;
}


/**Setting for header bar for all pages.**/
.headerBarCalorie{
    height: 150px;
    width:940px;
    background-color:#00CED1; 
    border-bottom-style: solid; 
    border-bottom-color: rgb(151, 145, 143);
}

.fitwellLogo{
    height: 50px;   
    margin-top: 50px;
    margin-left: 70px;
}

.navItemsCalorie{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 480px;
    right: 50px;
    height: 150px;  
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 16px;
}

li{
    display: inline;
    padding: 5px;
}

/*For Log.html*/
/**Setting for left side bar**/
i{
    font-size:70px;
    margin-top: 20px;
    margin-left: 110px;
}

.userDetail{
    margin-top: 20px;
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px;
}

/**Setting for right side bar**/
.text01{
    margin-left:50px;  
    font-size:35px; 
}

.label02{
    display: flex;
    align-items: center;
    padding: 5px;  
    margin-left: 50px; 
}

.space01{
    margin: 7px;
    padding: 0;
}

.subButton{
    display: flex;  
}

.buttonInput{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    margin-left:180px  
}

.resultsCalorie{
    margin-top: 20px;
    font-size:23px; 
    font-weight: bold;
    margin-left:35px;
}

.rightContainerCalorie{
    position:absolute; 
    left:300px;
    top: 150px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px;  
}

.outerContainerCalorie{
    background-color:#F5F5F5;
    height: 630px;
    width: 940px;}


/*Setting for login.html & register.html.*/
/**Setting for two tab**/ 
/*Resize for login container*/
.registerLoginContainer01{
    border: 1px solid #ccc; 
    width: 60%;
    height: 270px;
    margin-left:80px;
    margin-top:20px;
    padding-left: 10px
}

/*Resize for register container*/
.registerLoginContainer{
    border: 1px solid #ccc; 
    width: 60%;
    height: 400px;
    margin-left:80px;
    margin-top:20px;
    padding-left: 10px
}

.registerLoginTab{
    overflow: hidden;
    border: none;    
}
       
.registerLoginTab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 16px;
    font-size: 16px;
    display: block;
    width: 35%;
    margin: 5px;
    margin-top: 20px;
    color: grey;
    border-bottom: 2px solid #ccc;
}
 
.registerLoginTab button.active {
    color:black;
    font-weight: bold;
    border-bottom-style: 2px solid; 
    border-bottom-color:#0000CD;
    margin-left: 10px;
  }

.loginRegisPage{
    margin-left:10px;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:16px;
}

.myEmailLabel, .input01, .myPwsLabel{
    display: flex;
    align-items: center;
}

.input01[type=text], .input01[type=password]{
    padding: 5px 20px;
    margin: 7px 0;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    background-color:inherit;
    width:40em;
}

.input01[type=text]:hover, .input01[type=password]:hover{
    border-bottom:1px solid #0000CD;
}

.input01[type=text].active, .input01[type=password].active{
    border-bottom:1px solid #0000CD
}

#myBtnSubmit{
    background-color: #0000CD;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;  
    width:40em;
    cursor: pointer;
}

#myBtnSubmit[type="submit"]{
    display: block;
    
}

#myBtnSubmit:hover{
    background-color:#45a049;
}


 

  